.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button-bg);
  border-radius: 16px;
  padding: 15px 35px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 166.667%;
  color: var(--color-button-text);
  transition: background-color 0.25s ease, color 0.25s ease;
  box-shadow: var(--box-shadow-button);
  // + .btn {
  //     &:not(.btn--no-margin) {
  //         margin-left: 20px;
  //     }
  // }
  &:hover {
    background-color: var(--color-button-hover);
  }

  &--text {
    color: var(--color-text-heading);
    background: transparent;
    box-shadow: none;
  }

  &--text:hover {
    color: var(--color-button-bg);
    background: transparent;
  }

  &--secondary {
    background-color: #191720;
    color: #fff;
  }

  &--outline {
    background: transparent;
    border: 1px solid var(--color-button-bg);
    color: var(--color-button-bg);
  }

  &--outline:hover {
    color: #fff;
    background-color: var(--color-button-bg);
  }

  &--sm {
    padding: 8px 24px;
    font-size: 1.6rem;
    line-height: 175%;
  }
}
