.form {
  &__group {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input {
    height: 40px;
    border-radius: 10px;
    width: 100%;
    border: 1px solid var(--auth-border);
    box-shadow: var(--auth-box-shadow);
    display: flex;
    align-items: center;
    padding: 0 12px;
  }

  &__input:focus {
    box-shadow: 0 0 0 3px var(--auth-border);
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
  }
}
