@use '../abstracts';
.auth {
  background: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    width: 350px;
    margin: 0 15px;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    padding: 24px;
    border: 1px solid var(--auth-border);
    box-shadow: var(--auth-box-shadow);
  }

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
  }

  &__desc,
  &__separation {
    font-size: 1.4rem;
    color: var(--color-text-desc);
  }

  
  &__separation-wrap {
    position: relative;
    width: 100%;
  text-align: center; 
  }

  &__separation {
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    position: relative;
    background-color: #fff;  
    z-index: 2;
    padding: 0 10px;
  }

  &__line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    z-index: 1;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__btn-oauth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--auth-border);
    box-shadow: var(--auth-box-shadow);
    gap: 10px;
    font-size: 1.4rem;
    font-weight: 500;
  }

  &__oauth {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  &__form-submit {
    background-color: var(--color-button-bg);
    color: #fff;
    font-weight: 500;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid var(--auth-border);
    box-shadow: var(--auth-box-shadow);

    &:hover {
      opacity: 0.9;
    }
  }
}
