:root {
    /* ===== Color background ===== */
    --color-bg-primary: #F8F2DE;
    --color-bg-secondary: #fff;
    --box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.4);

    /* ===== Color text ===== */
    --color-text-heading: #191720;
    --color-text-desc: #575363;

    /* ===== Button ===== */
    --color-button-bg: #952323;
    --color-button-text: #fff;
    --color-button-hover: #A73121;
    --box-shadow-button: 0px 13px 26px -8px rgba(149, 35, 35, 0.42);

    --color-border: transparent;
}
